body{
    background-color: black;
}
div {
    display: inline-block;
}
.container{
    position: relative;
    left: 390px;
    max-width:140px;
    max-height:46px;
    width: auto;
    height: auto;

}
.line img {
    position: absolute;
    right: 420px;
    max-width:1400px;
    max-height:78px;
    width: auto;
    height: auto;
    align-items: center;
    display: inline-block;
}
div.mycontainer{
    width: 100%;
    overflow: auto;
}
div.mycontainer div{
    width: 33%;
    float: left;
}
.container-a{
   display: flex;
   right: 600px;
   position: absolute;
   margin-left: 18%;

}
.container-b{
    margin-right: 10%;

}
.container-c img{
    position:absolute;
    right: 0px;
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;

}
h1 {
    display: flex;
    position:relative;
    left: 390px;
    width: auto;
    height: auto;
    font-family:fantasy;
    color: white;  
}
p{
    display: flex;
   right: 0px;
   width: auto;
    height: auto;
   position: relative;
    color: white;  
}
h2{
    display: flex;
    position:relative;
    right: 100px;
    width: auto;
    height: auto;
    color: white; 
    font-family:fantasy;
     

}
h3{
    display: flex;
    position:relative;
    right: 80px;
    width: auto;
    height: auto;
    color: white;  
  
}